.information {
  display: flex;

  &__header {
    align-content: center;
    color: $navyblue;
  }

  &__subhead {
    color: $navyblue;
  }

  &__what {
    padding-right: 20px;
  }

  &__where {
    padding-right: 290px;
  }

  &__help {
    padding-right: 250px;
  }

  &__micphone {
    padding-left: 550px;
  }

  &__karaoke {
    padding-left: 20px;
  }

  &__fan {
    width: 350px;
  }

  &__book {
    padding-left: 400px;
  }

  &__library {
    padding-left: 20px;
  }

  &__rooms {
    width: 350px;
  }

  &__game {
    padding-left: 400px;
  }

  &__videog {
    padding-left: 20px;
  }

  &__cosplay {
    width: 350px;
  }
}
