.news {
  display: flex;

  &__heading {
    display: flex;
    align-items: center;
    padding: 3rem 10rem;
    margin: 0;
    font-weight: bold;
    color: $navyblue;
  }

  &__anime-day {
    width: 50%;
    height: 0 auto;
  }

  &__food-deals {
    width: 50%;
    height: 0 auto;
  }
}
