* {
  box-sizing: border-box;
}

a {
  font-family: $crimson;
  color: $lightpink;
  text-decoration: none;
}

a:hover {
  color: $darkpink;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: $crimson;
  font-weight: bold 700;
}

h2 {
  font-family: $crimson;
}

h3 {
  font-family: $crimson;
}

p {
  font-family: $catamaran;
}

.active {
  background-color: $navyblue;
  opacity: 0.7;
  padding: 15px;
}

.scale-to-grid {
  width: 100%;
  height: 0 auto;
}

.description_content {
  display: flex;
  align-content: center;
  background-color: $whitetrans;
  padding: 20px;
  color: $navyblue;
  font-size: 2rem;
  font-family: $crimson;
  font-weight: bold 700;
}
