* {
  box-sizing: border-box;
}

a {
  font-family: "Crimson Text", serif;
  color: $lightpink;
  text-decoration: none;
}

a:hover {
  color: $darkpink;
  text-decoration: none;
  font-weight: bold;
}

.active {
  background-color: $navyblue;
  opacity: 0.7;
  padding: 10px;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: bold 700;
}

h2 {
  font-family: "Crimson Text", serif;
}

h3 {
  font-family: "Crimson Text", serif;
}

p {
  font-family: "Catamaran", san-serif;
}
