* {
  box-sizing: border-box;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $hover-color;
  text-decoration: underline;
}

.nav {
width: 100%;
}

.nav ul li{
    list-style:none;
    text-decoration:none;
    display: inline-block;
    width: 100%;
}
